<header>
    <nav class="navbar">
        <div class="navbar-logo">
            <img class="navbar-logo__img" src="assets/img/logo/logo-white.svg" alt="">
        </div>
        <div class="navbar-options">
            <ul class="navbar-options__list">
                <li>
                    <a href="" class="button list-link">
                        History
                    </a>
                </li>
                <li>
                    <a href="" class="button list-link">
                        Form
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>