@import 'src/styles';

header {
    background-color: transparent;
    padding: 1rem;
    position: relative;
    z-index: 200;
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 768px) {
            justify-content: center;
        }
        .navbar-logo {
            &__img {
                width: 75px;
                height: 75px;
                object-fit: contain;
            }
        }
        .navbar-options {
            @media (max-width: 768px) {
                display: none;
            }

            &__list {
                display: flex;
                flex-direction: row;

                .list-link {
                    color: $white;
                }
            }

        }
    }
}