// Fonts
$got-i: 'Gotham-Italic';
$got-l: 'Gotham-Light';
$got-b: 'Gotham-Bold';

// Colors
$primary:         #00BCFF;
$primary-hover:   #0290c4;
$secondary:       #A1CB00;
$secondary-hover: #85a701;
$gray-1: #48484A;
$gray-2: #006262;
$gray-3: #1E1E1E;

$black: #000;
$white: #FFF;