.button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    font-family: $got-b;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 11px;
    transition: all .2s linear;

    &.button-send {
        background-color: $white;
        color: $gray-1;
    }
    
}