<section id="hero">
    <div class="hero-content">
        <h1 class="hero-content__title">
            Welcome to the family
        </h1>
    </div>
</section>

<section id="history">
    <div class="history-content">
        <h2 class="history-content__title">History</h2>
        <p class="history-content__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus esse accusamus perspiciatis officia facere explicabo eos assumenda suscipit eveniet ut enim, mollitia, numquam labore repudiandae dolorum tempora quae! A aliquid sed animi, deserunt modi officiis sunt, tempora debitis unde exercitationem vitae eum quam adipisci rem numquam et voluptate eius dolorem labore, magnam doloremque dignissimos eligendi. Pariatur eveniet rerum provident saepe libero magnam perspiciatis, eaque adipisci? Provident aspernatur omnis rem quos modi, ab sapiente dolorem animi eligendi. Sapiente eius delectus maxime.
        </p>
    </div>
</section>

<section id="developers">
    <div class="developer-content">
        <h2 class="developer-content__title">#Developers</h2>
    </div>
</section>

<section id="contact">
    <div class="contact-content">
        <h2 class="contact-content__title">Contact</h2>
        <p class="contact-content__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus esse accusamus perspiciatis officia facere explicabo eos assumenda suscipit eveniet ut enim, mollitia, numquam labore repudiandae dolorum tempora quae! A aliquid sed animi, deserunt modi officiis sunt, tempora debitis unde exercitationem vitae eum quam adipisci rem numquam et voluptate eius dolorem labore, magnam doloremque dignissimos eligendi.
        </p>
    </div>
</section>

<section id="form">
    <div class="form-content">
        <h2 class="form-content__title">
            Form
        </h2>
        <form
        class="form-content__form"
        [formGroup]="formContact"
        (ngSubmit)="onSubmit()"
        >   
            <div class="form-group">
                <label for="name">Nombre *</label>
                <input 
                formControlName="name"
                type="text" 
                id="name">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">
                        <small class="errors">
                            <sup>*</sup>El campo Nombre es requerido
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Apellido *</label>
                <input 
                formControlName="lastName"
                type="text" 
                id="lastName">
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">
                        <small class="errors">
                            <sup>*</sup>El campo Apellido es requerido
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Correo *</label>
                <input 
                formControlName="email"
                type="email" 
                id="email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">
                        <small class="errors">
                            <sup>*</sup>El campo Correo es requerido
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="birthdate">Fecha de nacimiento *</label>
                <input 
                formControlName="birthdate"
                type="date" 
                id="birthdate">
                <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">
                        <small class="errors">
                            <sup>*</sup>El campo Fecha es requerido
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-checkbox">
                <input 
                formControlName="terms"
                id="terms" 
                type="checkbox">
                <label for="terms">Acepto terminos y condiciones*</label>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">
                        <small class="errors">
                            <sup>*</sup>Debes aceptar los terminos y condiciones
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-send">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                <button
                class="button button-send">
                    Enviar
                </button>
            </div>
        </form>
    </div>
</section>
