<section id="hero">
    <div class="hero-content">
        <h1 class="hero-content__title">
            Welcome to the family
        </h1>
    </div>
</section>

<section id="history">
    <div class="history-content">
        <h2 class="history-content__title">History</h2>
        <p class="history-content__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus esse accusamus perspiciatis officia facere explicabo eos assumenda suscipit eveniet ut enim, mollitia, numquam labore repudiandae dolorum tempora quae! A aliquid sed animi, deserunt modi officiis sunt, tempora debitis unde exercitationem vitae eum quam adipisci rem numquam et voluptate eius dolorem labore, magnam doloremque dignissimos eligendi. Pariatur eveniet rerum provident saepe libero magnam perspiciatis, eaque adipisci? Provident aspernatur omnis rem quos modi, ab sapiente dolorem animi eligendi. Sapiente eius delectus maxime.
        </p>
    </div>
</section>

<section id="developers">
    <div class="developer-content">
        <h2 class="developer-content__title">#Developers</h2>
    </div>
</section>

<section id="contact">
    <div class="contact-content">
        <h2 class="contact-content__title">Contact</h2>
        <p class="contact-content__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus esse accusamus perspiciatis officia facere explicabo eos assumenda suscipit eveniet ut enim, mollitia, numquam labore repudiandae dolorum tempora quae! A aliquid sed animi, deserunt modi officiis sunt, tempora debitis unde exercitationem vitae eum quam adipisci rem numquam et voluptate eius dolorem labore, magnam doloremque dignissimos eligendi.
        </p>
    </div>
</section>

<section id="form">
    <div class="form-content">
        <h2 class="form-content__title">
            Form
        </h2>
        <form class="form-content__form">
            <div class="form-group">
                <label for="name">Nombre *</label>
                <input type="text" id="name">
            </div>
            <div class="form-group">
                <label for="lastName">Apellido *</label>
                <input type="text" id="lastName">
            </div>
            <div class="form-group">
                <label for="email">Correo *</label>
                <input type="email" id="email">
            </div>
            <div class="form-group">
                <label for="birthdate">Fecha de nacimiento *</label>
                <input type="date" id="birthdate">
            </div>
            <div class="form-checkbox">
                <input id="terms" type="checkbox">
                <label for="terms">Acepto terminos y condiciones*</label>
            </div>
            <div class="form-send">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                <button type="submit" class="button button-send">Enviar</button>
            </div>
        </form>
    </div>
</section>
